
<html>
<body>

<form action="" method=POST>{% csrf_token %}
	<fieldset>
		<legend>Git Repository Issue Details</legend>
		  *Enter Github Url:
		  <input type="text" name="url" width="500px"><br><br>
		  <input type="submit" value="Submit" onclick="alerta();"><br>
		  <p class="required">* Required</p>
	</fieldset>

	<fieldset>
	<legend> Result </legend>
		<br>Remark : {{message}}<br>
		<br><p1>UserName :</p1>  {{user}}
		<br><p1>Repository Name :</p1>  {{repo}}
		<br><br>Total number of open issues :  {{total}}
		<br>Number of open issues that were opened in the last 24 hours :  {{within1}}
		<br>Number of open issues that were opened more than 24 hours ago but less than 7 days ago :  {{within7}}
		<br>Number of open issues that were opened more than 7 days ago :  {{before7}}
		  
	</fieldset>

<script>
function alerta() {
   alert("Please Wait for a minute for the result to appear.");
}
</script> 

</form>
</body>
</html>
